.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.form-subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #233566;
}

.form-nav {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}
.form-btn {
	width: calc(50% - 8px);
}

.active {
	top: 100px !important;
	opacity: 1 !important;
	visibility: visible !important;
}
