.payment {
  width: 190px;
  padding: 16px;
  border-radius: 12px;
  background: #fbfbfc;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

a{
  text-decoration: underline;
}

.radio {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.44px;
  color: #a4abbe;
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #a4abbe;
  background-color: #fff;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 65%;
  height: 68%;
  border-radius: 50%;
}

input[type="radio"]:checked {
  border-color: #233566;
}

input[type="radio"]:checked::before {
  background-color: #233566;
}

.active_text {
  color: #233566;
}

.cards {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  transform: scale(0.75);
  margin-left: -30px;
}

@media (max-width: 800px) {
  .cards {
    transform: scale(0.7);
    gap: 12px;
    margin-left: -30px;
  }
}

@media (max-width: 600px) {
  .payment {
    width: 160px;
  }
  .cards {
    transform: scale(0.6);
    gap: 12px;
    margin-left: -45px;
  }
}

@media (max-width: 450px) {
  .payment {
    width: 150px;
    padding: 12px;
  }

}

